<form>
<input type="button" value="profile" onclick="window.location.href='./profile'" />
<input type="button" value="DB show" onclick="window.location.href='./search'" />
<input type="button" value="Scheduler" onclick="window.location.href='./scheduler'" />
</form>