This is login page!

Find user date from MySQL DB and pass on to profile


<form action="/searchme" method="get">
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value=""><br>

    <label for="zipcode">zipcode: </label>
    <input id="zipcode" type="text" name="zipcode" value=""><br>

    <input type="submit" value="login">
</form>